* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #ecf0f1;
}

.container {
  max-width: 1320px;
  margin: 30px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container div {
  padding: 0.5rem;
  margin: 0.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  width: 100vw;
}

.btn {
  padding: 0 1rem 0;
  height: 2.5rem;
  border: none;
  outline: none;
}

.rounded {
  border-radius: 0.2rem;
}

.rounded-sm {
  border-radius: 0.4rem;
}

.rounded-md {
  border-radius: 0.6rem;
}

.rounded-lg {
  border-radius: 0.8rem;
}

.btn-primary {
  background-color: #0984e3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-primary:hover {
  background-color: #0870c1;
  cursor: pointer;
}

.btn-primary:focus {
  outline: none;
}

.btn-secondary {
  background-color: #2d3436;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-secondary:hover {
  background-color: #1d2123;
  cursor: pointer;
}

.btn-secondary:focus {
  outline: none;
}

.btn-danger {
  background-color: #eb4d4b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-danger:hover {
  background-color: #e72d2b;
  cursor: pointer;
}

.btn-danger:focus {
  outline: none;
}

.btn-warning {
  background-color: #f9ca24;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-warning:hover {
  background-color: #f3bf07;
  cursor: pointer;
}

.btn-warning:focus {
  outline: none;
}

.btn-info {
  background-color: #00cec9;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-info:hover {
  background-color: #00aaa6;
  cursor: pointer;
}

.btn-info:focus {
  outline: none;
}

.btn-gradient-primary {
  background-image: -webkit-gradient(linear, left top, right top, from(#0984e3), to(#6c5ce7));
  background-image: linear-gradient(to right, #0984e3, #6c5ce7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-gradient-primary:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0984e3), to(#6c5ce7));
  background-image: linear-gradient(to left, #0984e3, #6c5ce7);
  cursor: pointer;
}

.btn-gradient-primary:focus {
  outline: none;
}

.btn-gradient-secondary {
  background-image: -webkit-gradient(linear, left top, right top, from(#a4b0be), to(#57606f));
  background-image: linear-gradient(to right, #a4b0be, #57606f);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-gradient-secondary:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#a4b0be), to(#57606f));
  background-image: linear-gradient(to left, #a4b0be, #57606f);
  cursor: pointer;
}

.btn-gradient-secondary:focus {
  outline: none;
}

.btn-gradient-danger {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6b6b), to(#ee5253));
  background-image: linear-gradient(to right, #ff6b6b, #ee5253);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-gradient-danger:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff6b6b), to(#ee5253));
  background-image: linear-gradient(to left, #ff6b6b, #ee5253);
  cursor: pointer;
}

.btn-gradient-danger:focus {
  outline: none;
}

.btn-gradient-warning {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffd32a), to(#ffa801));
  background-image: linear-gradient(to right, #ffd32a, #ffa801);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-gradient-warning:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#ffd32a), to(#ffa801));
  background-image: linear-gradient(to left, #ffd32a, #ffa801);
  cursor: pointer;
}

.btn-gradient-warning:focus {
  outline: none;
}

.btn-gradient-info {
  background-image: -webkit-gradient(linear, left top, right top, from(#00d8d6), to(#10ac84));
  background-image: linear-gradient(to right, #00d8d6, #10ac84);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-gradient-info:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#00d8d6), to(#10ac84));
  background-image: linear-gradient(to left, #00d8d6, #10ac84);
  cursor: pointer;
}

.btn-gradient-info:focus {
  outline: none;
}

@media (min-width: 600px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-4 {
    width: 30.5%;
  }
  .col-6 {
    width: 47%;
  }
  .col-10 {
    width: 80%;
  }
  .col-12 {
    width: 96%;
  }
}
/*# sourceMappingURL=vanilla.css.map */