.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%
}

.alert-link {
    font-weight: 700;
}

.alert-primary {
    @include alertStyle($primary, 45%, 10%);
}

.alert-info {
    @include alertStyle($info, 35%, 15%);
}

.alert-danger {
    @include alertStyle($danger, 30%, 10%);
}

.alert-warning {
    @include alertStyle($warning, 35%, 15%);
}

.alert-success {
    @include alertStyle($success, 35%, 10%);
}