.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%
}

.alert-link {
    font-weight: 700;
}

.alert-primary {
    color: darken($primary, 10%);
    background-color: lighten($primary, 40%);
    border-color: lighten($primary, 30%);
}

.alert-info {
    color: darken($info, 10%);
    background-color: lighten($info, 50%);
    border-color: lighten($info, 30%);
}

.alert-danger {
    $danger: #eb3b5a;
    color: darken($danger, 10%);
    background-color: lighten($danger, 25%);
    border-color: lighten($danger, 20%);
}

.alert-warning {
    color: darken($warning, 20%);
    background-color: lighten($warning, 25%);
    border-color: lighten($warning, 20%);
}

.alert-success {
    color: darken($success, 10%);
    background-color: lighten($success, 25%);
    border-color: lighten($success, 20%);
}