.card-content {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: .1ch;
    line-height: 1;
    padding-bottom: .5em;
    margin-bottom: 1rem;
    position: relative;
    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 60px;
        height: 4px;
        background: linear-gradient(135deg, adjust-hue($primary-card, -20deg), $primary-card);
        bottom: 0;
    }
}

.description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.flip-card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
    @include mobile (800px) {
        width: calc(50% - 2rem);
    }
    @include mobile (500px) {
        width: 100%;
    }
}

.front,
.back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
    // overflow: hidden;
}

.front {
    background-size: cover;
    // background-blend-mode: overlay;
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    &:before {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, adjust-hue($primary-card, -20deg), $primary-card);
        opacity: .25;
        z-index: -1;
    }
    .flip-card:hover & {
        transform: rotateY(180deg);
    }
    .flip-card:nth-child(even):hover & {
        transform: rotateY(-180deg);
    }
}

.back {
    background: #fff;
    transform: rotateY(-180deg);
    padding: 0 2em;
    .button {
        background: linear-gradient(135deg, adjust-hue($primary-card, -20deg), $primary-card);
        &:before {
            box-shadow: 0 0 10px 10px rgba($primary-card, 0.25);
            background-color: rgba($primary-card, 0.25);
        }
    }
    .flip-card:hover & {
        transform: rotateY(0deg);
    }
    .flip-card:nth-child(even) & {
        transform: rotateY(180deg);
        .button {
            background: linear-gradient(135deg, adjust-hue($secondary-card, -20deg), $secondary-card);
            &:before {
                box-shadow: 0 0 10px 10px rgba($secondary-card, 0.25);
                background-color: rgba($secondary-card, 0.25);
            }
        }
    }
    .flip-card:nth-child(even):hover & {
        transform: rotateY(0deg);
    }
}

.button {
    $height: 40px;
    transform: translateZ($height);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: .5em 1em;
    border-radius: 100px;
    font: inherit;
    border: none;
    position: relative;
    transform-style: preserve-3d;
    transition: 300ms ease;
    &:before {
        transition: 300ms ease;
        position: absolute;
        display: block;
        content: '';
        transform: translateZ(-$height);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        border-radius: 100px;
        left: 10px;
        top: 16px;
    }
    &:hover {
        transform: translateZ($height + 15px);
        &:before {
            transform: translateZ(-($height + 15px));
        }
    }
    &:active {
        transform: translateZ($height/2);
        &:before {
            transform: translateZ(-($height/2));
            top: 12px;
        }
    }
}

// body {
//     @include media(small) {
//         padding: 2rem;
//     }
// }
.grid {
    display: grid;
    width: 114rem;
    grid-gap: 6rem;
    grid-template-columns: repeat( auto-fit, minmax(10rem, 1fr));
    align-items: start;
    @include media(small) {
        grid-gap: 3rem;
    }
    &-item {
        background-color: #fff;
        border-radius: .4rem;
        overflow: hidden;
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
        cursor: pointer;
        transition: $transition;
        &:hover {
            transform: translateY(-.5%);
            box-shadow: 0 4rem 8rem rgba(0, 0, 0, -2);
        }
    }
}

.card {
    background-color: #fff;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: $transition;
    &:hover {
        transform: translateY(-.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, -2);
    }
    &-img {
        display: block;
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }
    &-content {
        padding: 3rem 3rem;
        color: darken($color-text, 1%);
    }
    &-header {
        font-size: 2rem;
        letter-spacing: .1rem;
        line-height: 1.7;
        margin-bottom: 2.5rem;
    }
    &-text {
        font-size: 1.5rem;
        letter-spacing: .1rem;
        line-height: 1.7;
        margin-bottom: 2.5rem;
        text-align: justify;
    }
    &-btn {
        display: block;
        width: 100%;
        padding: 1.5rem;
        font-size: 2rem;
        text-align: center;
        color: $color-btn-text;
        background-color: $color-btn-background;
        border: none;
        border-radius: .4rem;
        transition: $transition;
        cursor: pointer;
        span {
            margin-left: 1rem;
            transition: $transition;
        }
        &:hover,
        &:active {
            background-color: darken( $color-btn-background, 2%);
            span {
                margin-left: 1.5rem;
            }
        }
    }
}