@mixin setBgColor($baseColor) {
    background-color: $baseColor;
    transition: all 0.2s;
    &:hover {
        background-color: darken($baseColor, 7%);
        cursor: pointer;
    }
    &:focus {
        outline: 0;
    }
}

@mixin seGradienttBgColor($baseColor) {
    background-image: linear-gradient(to right, $baseColor);
    transition: all 0.5s;
    &:hover {
        background-image: linear-gradient(to left, $baseColor);
        cursor: pointer;
    }
    &:focus {
        outline: 0;
    }
}

@mixin setOutlineBgColor($baseColor) {
    background: #fff;
    color: $baseColor;
    border: solid 1px $baseColor;
    transition: all .5s;
    &:hover {
        cursor: pointer;
        color: #fff;
        background-color: $baseColor;
    }
}

@mixin setLightButton($baseColor, $lighten, $darken) {
    background-color: lighten($baseColor, $lighten);
    color: darken($baseColor, $darken);
    &:hover {
        color: #fff;
        background-color: $baseColor;
    }
}

@mixin flexConfiguration() {
    display: flex;
    flex-wrap: wrap;
}

@mixin setWidthCol($width) {
    flex: 0 0 auto;
    width: $width;
}

@mixin tableStyle($color, $lighten, $darken, $zebra) {
    td,
    th {
        color: darken($color, $darken);
    }
    td {
        text-align: center;
        vertical-align: middle;
        &:last-child {
            font-size: .95rem;
            line-height: 1.4;
            text-align: left;
        }
    }
    th {
        background-color: lighten($color, $lighten);
        font-weight: 300;
    }
    tr {
        &:nth-child(2n) {
            background-color: white;
        }
        &:nth-child(2n+1) {
            background-color: lighten($color, $zebra);
        }
    }
}

@mixin alertStyle($baseColor, $lighten, $darken) {
    color: darken($baseColor, $darken);
    background-color: lighten($baseColor, $lighten);
    // border-color: lighten($baseColor, $border);
}

@mixin mobile ($size: 640px) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin media($breakpoint) {
    @if $breakpoint==small {
        @media (max-width: 60em) {
            @content;
        }
    }
}

@mixin marginX($value) {
    margin-left: $value !important;
    margin-right: $value !important;
}

@mixin marginY($value) {
    margin-top: $value !important;
    margin-bottom: $value !important;
}