.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &-link {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        @media (prefers-reduced-motion: reduce) {
            & {
                transition: none;
            }
        }
        &.disabled {
            color: #6c757d;
            pointer-events: none;
            cursor: default;
        }
    }
    &-tabs {
        border-bottom: 1px solid #dee2e6;
        & .nav-link {
            margin-bottom: -1px;
            background: none;
            border: 1px solid transparent;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }
        & .nav-link:hover,
        & .nav-link:focus {
            border-color: #e9ecef #e9ecef #dee2e6;
            isolation: isolate;
        }
        & .nav-link.disabled {
            color: #6c757d;
            background-color: transparent;
            border-color: transparent;
        }
        & .nav-link.active,
        & .nav-item.show .nav-link {
            color: #495057;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
        }
        & .dropdown-menu {
            margin-top: -1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    &-pills &-link {
        background: none;
        border: 0;
        border-radius: 0.25rem;
    }
    &-pills &-link.active,
    &-pills .show>&-link {
        color: #fff;
        background-color: #0d6efd;
    }
    &-fill>&-link,
    &-fill &-item {
        flex: 1 1 auto;
        text-align: center;
    }
    &-justified>&-link,
    &-justified &-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
    &-fill &-item &-link,
    &-justified &-item &-link {
        width: 100%;
    }
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    &>.container,
    &>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    &-brand {
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }
    &-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    &-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
    &-nav .dropdown-menu {
        position: static;
    }
    &-text {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    &-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }
    &-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 .25rem;
        }
        &-icon {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }
    }
    @media(prefers-reduced-motion: reduce) {
        &-toggler {
            transition: none;
        }
    }
    &-nav-scroll {
        max-height: $scroll-height;
        overflow-y: auto;
    }
    @media(min-width: 576px) {
        &-expand-sm {
            flex-wrap: nowrap;
            justify-content: flex-start;
            & .navbar-nav {
                flex-direction: row;
                & .dropdown-menu {
                    position: absolute;
                }
                & .nav-link {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
                &-scroll {
                    overflow: visible;
                }
            }
            & .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
            }
            & .navbar-toggler {
                display: none;
            }
        }
    }
    @media(min-width: 768px) {
        &-expand-md {
            flex-wrap: nowrap;
            justify-content: flex-start;
            & .navbar-nav {
                flex-direction: row;
                & .dropdown-menu {
                    position: absolute;
                }
                & .nav-link {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
                &-scroll {
                    overflow: visible;
                }
            }
            & .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
            }
            & .navbar-toggler {
                display: none;
            }
        }
    }
    @media(min-width: 992px) {
        &-expand-lg {
            flex-wrap: nowrap;
            justify-content: flex-start;
            & .navbar-nav {
                flex-direction: row;
                & .dropdown-menu {
                    position: absolute;
                }
                & .nav-link {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
                &-scroll {
                    overflow: visible;
                }
            }
            & .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
            }
            & .navbar-toggler {
                display: none;
            }
        }
    }
    @media(min-width: 1200px) {
        &-expand-xl {
            flex-wrap: nowrap;
            justify-content: flex-start;
            & .navbar-nav {
                flex-direction: row;
                & .dropdown-menu {
                    position: absolute;
                }
                & .nav-link {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
                &-scroll {
                    overflow: visible;
                }
            }
            & .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
            }
            & .navbar-toggler {
                display: none;
            }
        }
    }
    @media(min-width: 1400px) {
        &-expand-xxl {
            flex-wrap: nowrap;
            justify-content: flex-start;
            & .navbar-nav {
                flex-direction: row;
                & .dropdown-menu {
                    position: absolute;
                }
                & .nav-link {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
                &-scroll {
                    overflow: visible;
                }
            }
            & .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
            }
            & .navbar-toggler {
                display: none;
            }
        }
    }
    &-expand {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    &-expand &-nav {
        flex-direction: row;
    }
    &-expand &-nav .dropdown-menu {
        position: absolute;
    }
    &-expand &-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    &-expand &-nav-scroll {
        overflow: visible;
    }
    &-expand &-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    &-expand &-toggler {
        display: none;
    }
    &-light &-brand {
        color: rgba(0, 0, 0, 0.9);
    }
    &-light &-brand:hover,
    &-light &-brand:focus {
        color: rgba(0, 0, 0, 0.9);
    }
    &-light &-nav .nav-link {
        color: rgba(0, 0, 0, 0.55);
    }
    &-light &-nav .nav-link:hover,
    &-light &-nav .nav-link:focus {
        color: rgba(0, 0, 0, 0.7);
    }
    &-light &-nav .nav-link.disabled {
        color: rgba(0, 0, 0, 0.3);
    }
    &-light &-nav .show>.nav-link,
    &-light &-nav .nav-link.active {
        color: rgba(0, 0, 0, 0.9);
    }
    &-light &-toggler {
        color: rgba(0, 0, 0, 0.55);
        border-color: rgba(0, 0, 0, 0.1);
    }
    &-light &-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    &-light &-text {
        color: rgba(0, 0, 0, 0.55);
    }
    &-light &-text a,
    &-light &-text a:hover,
    &-light &-text a:focus {
        color: rgba(0, 0, 0, 0.9);
    }
    &-dark &-brand {
        color: #fff;
    }
    &-dark &-brand:hover,
    &-dark &-brand:focus {
        color: #fff;
    }
    &-dark &-nav .nav-link {
        color: rgba(255, 255, 255, 0.55);
    }
    &-dark &-nav .nav-link:hover,
    &-dark &-nav .nav-link:focus {
        color: rgba(255, 255, 255, 0.75);
    }
    &-dark &-nav .nav-link.disabled {
        color: rgba(255, 255, 255, 0.25);
    }
    &-dark &-nav .show>.nav-link,
    &-dark &-nav .nav-link.active {
        color: #fff;
    }
    &-dark &-toggler {
        color: rgba(255, 255, 255, 0.55);
        border-color: rgba(255, 255, 255, 0.1);
    }
    &-dark &-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    &-dark &-text {
        color: rgba(255, 255, 255, 0.55);
    }
    &-dark &-text a,
    &-dark &-text a:hover,
    &-dark &-text a:focus {
        color: #fff;
    }
}