table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6c757d;
    text-align: left;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.table> :not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: $table-bg;
    background-image: linear-gradient($table-accent-bg, table-accent-bg);
    border-bottom-width: 1px;
}

.table {
    tbody {
        tr {
            &:nth-of-type(odd) {
                color: $table-striped-color
            }
        }
    }
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-striped {
    @include tableStyle($dark, 60%, 10%, 65%);
}

.table-primary {
    @include tableStyle($primary, 45%, 30%, 50%);
}

.table-secondary {
    @include tableStyle($secondary, 45%, 5%, 50%);
}

.table-info {
    @include tableStyle($info, 45%, 30%, 52%);
}

.table-danger {
    @include tableStyle($danger, 20%, 20%, 25%);
}

.table-warning {
    @include tableStyle($warning, 30%, 15%, 50%);
}

.table-success {
    @include tableStyle($success, 30%, 15%, 50%);
}